@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SourceSansPro-Regular.ttf");
}

html, body {
    height: 100%;
    overflow: hidden;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 400;
    font-family: 'Source Sans Pro';
    background-image: url("https://unsplash.it/1920/1080/?random");
    background-size: cover;
    background-position: center;
    color: #DDDDDD;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content, .content-main {
    text-align: center;
    display: inline-block;
}

.title {
    display: inline-block;
    position: fixed;
    font-size: 50px;
    z-index: 1;
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.sub-title {
    font-size: 50px;
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

div.content-main {
    position: absolute;
    height: auto;
    background-color: white;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 20px;
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    box-sizing: border-box;
}

div.content-main .section-header {
    font-weight: 300;
    font-size: 36px;
    padding: 20px;
}

.section-lead-paragraph {
    font-size: 30px;
    padding: 20px;
    font-weight: 400;
    font-family: 'Source Sans Pro';
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.section-lead-paragraph a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.section-lead-paragraph a:hover {
    color: lightgrey;
}

.section-button a button {
    font-size: 20px;
    padding: 10px;
    width: 50vw;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: grey;
    border: 2px solid grey;
    cursor: pointer;
}

.section-button a button:hover {
    background-color: lightgrey;
    border: 2px solid lightgrey;
    cursor: pointer;
}

hr {
    border: none;
    border-bottom: 1px solid grey;
}

.arrow {
    position: absolute;
    margin: auto;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 4px solid;
    border-bottom: 4px solid;
}

.section-form {
    padding: 20px;
}

.form-input {
    border: 2px solid grey;
    font-family: 'Source Sans Pro';
    border-right: none;
    font-size: 20px;
    width: 400px;
    margin: 15px;
    margin-right: -2.5px;
    background: none;
    padding: 5px;
    color: #DDDDDD;
    height: 41px;
    box-sizing: border-box;
}

.form-input#submit:hover {
    cursor: pointer;
    background-color: darkslategrey;
    color: white;
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
}

.form-input#submit {
    cursor: pointer;
    background-color: grey;
    color: white;
    border: 2px solid grey;
    margin-left: -2.5px;
    width: 100px;
}

.form-input:focus {
    outline: none;
}

.footer-section {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.section-twitter {
    width: 45%;
    float:left;
}

.section-linkedin {
    width: 45%;
    float:right;
}

.twitter-timeline {
    text-align: center;
}

.social-media {
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0;
}

.social-wrapper {
    margin: 0 auto;
    width: 100px;
}

.social-wrapper a.twitter {
    float: left;
}

.social-wrapper a.linkedin {
    float: right;
}

@media screen and (max-width: 720px) {
    .form-input {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border-right: 2px solid grey;
    }

    .title {
        font-size: 50px;
    }

    .sub-title {
        font-size: 30px;
    }

    .form-input#submit {
        margin-left: 0;
    }
}
